* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pt sans", sans-serif;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(45, 53, 75, 1) 5%,
    rgb(69, 91, 134) 50%,
    rgba(45, 53, 75, 1) 95%
  );
  transition: 0.5s;
  overflow: hidden;
}

section.start h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 65px;
  transform: rotate(-2deg);
  text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
  color: rgb(11, 21, 29);
  text-transform: uppercase;
  letter-spacing: 2px;
}

section.start h2 {
  color: rgb(184, 184, 184);
  text-shadow: 2px 2px 5px rgb(11, 5, 23);
  text-align: center;
  font-size: 35px;
  transform: rotate(2deg);
  letter-spacing: 2px;
}

section.infoAboutGame {
  position: fixed;
  top: 4%;
  left: 4%;
}

section.infoAboutGame p {
  font-size: 40px;
  color: rgba(240, 248, 255, 0.8);
  letter-spacing: 2px;
}

section.cards {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.cards div {
  width: 10vw;
  height: 10vw;
  margin: 15px;
  background-image: url("photos/question-mark.jpg");
  background-position: center;
  background-size: cover;
  font-size: 0;
  cursor: pointer;
  transition: 0.3s;
}

section.cards div.show {
  box-shadow: 0px 0px 25px black;
}

section.cards div.delete {
  animation: deleteCards 0.6s 1 forwards;
}

@keyframes deleteCards {
  0% {
    transform: rotate(0) scale(1);
  }
  40% {
    transform: rotate(90deg) scale(1);
  }
  50% {
    transform: rotate(90deg) scale(1);
  }
  100% {
    transform: rotate(90deg) scale(0);
  }
}

section.afterGame {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100vw;
  height: 80vh;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

section.afterGame::before {
  content: "";
  box-shadow: 20px 40px 2px 2px rgb(10, 10, 10);
  padding-bottom: 350px;
  margin: 20px;
}

section.afterGame::after {
  content: "";
  box-shadow: 50px 0px 2px 2px rgb(10, 10, 10);
  padding-top: 220px;
  margin: 20px;
}

h2.congratulation {
  margin: 20px 0 -10px;
  text-align: center;
  font-size: 70px;
  text-shadow: 1px 1px rgb(147, 154, 166);
  transform: rotate(1deg);
}

p.endGame {
  font-size: 45px;
  text-align: center;
}

p.endGame span {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(147, 54, 54);
}

p.nextGame {
  font-size: 35px;
  margin: 70px 50px 0;
  text-align: center;
}

p.nextGame span {
  color: rgb(184, 184, 184);
  text-shadow: 2px 2px 5px rgb(11, 5, 23);
  text-transform: uppercase;
}

button.playAgain {
  position: fixed;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 20px;
  font-size: 50px;
  color: rgb(163, 162, 162);
  background-color: rgb(17, 34, 45);
  border: 2px solid rgb(135, 135, 135);
  letter-spacing: 1px;
  transition: 0.4s;
  cursor: pointer;
}

button.playAgain:hover {
  color: rgb(240, 248, 255);
  border-color: rgb(163, 162, 162);
  background-color: rgb(11, 25, 34);
}

@media (max-width: 1410px) {
  p.winGame {
    padding: 20px;
    font-size: 50px;
  }
}

@media (max-width: 1200px) {
  section.start h1 {
    padding-top: 5px;
    font-size: 32px;
  }

  section.start h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }

  section.infoAboutGame p {
    margin: 0 30px;
    font-size: 30px;
  }

  section.cards div {
    width: 12vw;
    height: 12vw;
    margin: 10px;
  }

  p.winGame {
    padding: 20px;
    font-size: 40px;
  }

  button.playAgain {
    font-size: 30px;
  }
}

@media (max-width: 1100px) {
  section.cards div {
    width: 14vw;
    height: 14vw;
    margin: 7px;
  }
}

@media (max-width: 860px) {
  section.start h1 {
    font-size: 28px;
  }

  section.start h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  section.infoAboutGame p {
    margin: 0 25px;
    font-size: 24px;
  }
  section.cards div {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 650px) {
  section.start h1 {
    font-size: 26px;
  }

  section.start h2 {
    font-size: 18px;
  }

  section.infoAboutGame p {
    font-size: 22px;
  }
  section.cards div {
    width: 19vw;
    height: 18vw;
  }
}

@media (max-width: 400px) {
  section.start h1 {
    font-size: 24px;
  }

  section.infoAboutGame p {
    font-size: 24px;
  }

  section.cards div {
    width: 22vw;
    height: 20vw;
  }
}

@media (orientation: landscape) and (max-height: 414px) {
  section.start h1 {
    font-size: 26px;
  }

  section.start h2 {
    font-size: 22px;
  }

  section.infoAboutGame p {
    font-size: 20px;
  }
  section.cards div {
    width: 11vw;
    height: 11vw;
  }
}

@media (orientation: landscape) and (max-width: 740px) {
  section.cards div {
    width: 11vw;
    height: 11vw;
  }
}

@media (orientation: portrait) and (max-height: 1368px) {
  section.start h1 {
    font-size: 40px;
  }

  section.start h2 {
    font-size: 34px;
  }

  section.infoAboutGame p {
    font-size: 30px;
  }
  section.cards div {
    width: 20vw;
    height: 20vw;
    margin: 12px;
  }
}

@media (orientation: portrait) and (max-height: 915px) {
  section.cards div {
    width: 21vw;
    height: 21vw;
    margin: 10px;
  }
}

@media (orientation: portrait) and (max-height: 740px) {
  section.start h1 {
    font-size: 22px;
  }

  section.start h2 {
    font-size: 18px;
  }

  section.infoAboutGame p {
    font-size: 18px;
  }

  section.cards div {
    width: 24vw;
    height: 24vw;
    margin: 8px;
  }
}

@media (orientation: portrait) and (max-height: 720px) and (max-width: 540px) {
  section.cards div {
    width: 20vw;
    height: 20vw;
    margin: 8px;
  }
}

@media (orientation: landscape) and (max-width: 720px) and (max-height: 540px) {
  section.cards div {
    width: 13vw;
    height: 13vw;
    margin: 8px;
  }
}

@media (orientation: portrait) and (max-width: 280px) {
  section.start h1 {
    font-size: 24px;
  }

  section.start h2 {
    font-size: 20px;
  }

  section.infoAboutGame p {
    font-size: 20px;
  }

  section.cards div {
    width: 22vw;
    height: 22vw;
    margin: 7px;
  }
}
