* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkalami", serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(5, 10, 13);
}

section.start h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section.start h2 {
  color: green;
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
}

section.infoAboutGame {
  display: flex;
  justify-content: space-evenly;
}

section.infoAboutGame p {
  margin: 0 40px;
  font-size: 40px;
  color: rgba(240, 248, 255, 0.8);
  letter-spacing: 2px;
}

section.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.cards div {
  width: 12vw;
  height: 12vw;
  margin: 20px;
  background-image: url("photos/question-mark.jpg");
  background-position: center;
  background-size: cover;
  font-size: 0;
  cursor: pointer;
  transition: 0.3s;
}

section.cards div.show {
  transform: rotateY(180deg);
  box-shadow: 0px 0px 25px red;
}

section.cards div.delete {
  z-index: -3;
}

p.winGame {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: rgb(163, 162, 162);
  letter-spacing: 2px;
  text-transform: uppercase;
  box-shadow: 0px 0px 25px green;
  transition: 0.3s;
}

button.playAgain {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  font-size: 34px;
  color: rgb(163, 162, 162);
  background-color: rgb(5, 10, 13);
  border: 2px solid rgb(240, 248, 255);
  letter-spacing: 1px;
  transition: 0.4s;
}

button.playAgain:hover {
  color: rgb(240, 248, 255);
  border-color: green;
  background-color: rgb(11, 25, 34);
  box-shadow: 0px 0px 25px green;
}

button.playAgain:hover p.winGame {
  box-shadow: 0px 0px 25px green;
  color: red;
}

h1.afterGame,
h2.afterGame,
p.afterGame {
  opacity: 0;
}

@media (max-width: 1200px) {
  section.start h1 {
    padding-top: 5px;
    font-size: 32px;
  }

  section.start h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }

  section.infoAboutGame p {
    margin: 0 30px;
    font-size: 30px;
  }

  section.cards div {
    width: 15vw;
    height: 15vw;
    margin: 10px;
  }
}

@media (max-width: 860px) {
  section.start h1 {
    font-size: 28px;
  }

  section.start h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }

  section.infoAboutGame p {
    margin: 0 25px;
    font-size: 24px;
  }
  section.cards div {
    width: 17vw;
    height: 17vw;
  }
}

@media (max-width: 400px) {
  section.start h1 {
    font-size: 24px;
  }

  section.infoAboutGame p {
    font-size: 24px;
  }

  section.cards div {
    width: 22vw;
    height: 20vw;
  }
}

@media (orientation: landscape) and (max-width: 915px) {
  section.start h1 {
    font-size: 20px;
  }

  section.infoAboutGame p {
    font-size: 18px;
  }

  section.cards div {
    width: 10vw;
    height: 10vw;
  }
}

@media (orientation: landscape) and (max-width: 740px) {
  section.cards div {
    width: 11vw;
    height: 11vw;
  }
}
