* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkalami", serif;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(5, 10, 13);
}

h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  color: green;
  text-align: center;
  font-size: 28px;
  letter-spacing: 4px;
}

section.infoAboutGame {
  display: flex;
  justify-content: space-evenly;
}

section.infoAboutGame p {
  margin: 0 40px;
  font-size: 40px;
  color: rgba(240, 248, 255, 0.8);
  letter-spacing: 2px;
}

section.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.cards div {
  width: 200px;
  height: 200px;
  margin: 20px;
  background-image: url(/photos/question-mark.jpg);
  background-position: center;
  background-size: cover;
  font-size: 0;
  cursor: pointer;
  transition: 0.3s;
}

section.cards div.show {
  transform: rotateY(180deg);
  box-shadow: 0px 0px 25px red;
}

section.cards div.delete {
  background-image: none;
  cursor: default;
  width: 200px;
  height: 0px;
}

p.winGame {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 60px;
  width: 100%;
  text-align: center;
  color: red;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s;
}

button.playAgain {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  font-size: 34px;
  color: red;
  background-color: rgb(5, 10, 13);
  border: 2px solid rgb(240, 248, 255);
  letter-spacing: 1px;
  transition: 0.4s;
}

button.playAgain:hover {
  color: rgb(240, 248, 255);
  border-color: red;
  background-color: rgb(11, 25, 34);
}

h1.afterGame,
h2.afterGame,
p.afterGame {
  opacity: 0;
}
